binder_call(hal_simple_client, hal_simple_server)
add_hwservice(hal_simple_server, hal_simple_hwservice)
allow hal_simple_client hal_simple_hwservice:hwservice_manager find;
